<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <button v-if="val==1">按钮1</button>
      <button v-if="val==2">按钮2</button>
      <button v-show="type">type为true时显示</button>
      <button @click="changeType()">改变type</button>
    </div>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            val: 2,
            message: "hello world",
            type: false,
          };
        },
        methods: {
          changeType() {
            this.type = !this.type;
            console.log(type);
          },
        },
      });
    </script>
  </body>
</html>
